.customer-home-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.home-left-header {
  background: #ffffff;
  width: 215px;
  height: 375px;
  border-radius: 10px;
}

.home-left-header-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
}

.home-left-header-item:hover {
  background: #f3f4f6;
}

.home-right-header {
  height: 375px;
  width: calc(100% - 245px);
}

.image-banner-container {
  height: 100%;
}

.image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.btn-secondary {
  background: #a1a9b5;
  color: #444444;
}

.list-supplier {
  display: flex;
  margin-left: 20px;
  gap: 10px;
  overflow-x: auto;
}

.categories-header {
  display: flex;
}

.categories-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;

  .item-standing {
    width: 225px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
  }

  .price-sale {
    position: absolute;
    width: 80px;
    height: 31px;
    left: -3px;
    background: image-url('price_sale.svg') no-repeat;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
  }

  .item-standing-container {

    padding: 32px 20px 20px 20px;

    .item-standing-image-container {
      display: flex;
      justify-content: center;

      .item-standing-image {
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  
  
    .item-standing-content {
      
      .item-standing-name {
        font-weight: 500;
        margin-top: 20px;
      }
  
      .item-standing-price {
        margin-top: 20px;
        display: flex;
        align-items: end;
  
        .item-standing-red {
          color: red;
        }
  
        .item-standing-gray {
          color: #707070;
          font-size: 14px;
          margin-left: 10px;
          text-decoration: line-through;
        }
      }

      .item-standing-note {
        margin-top: 20px;
        background: #f3f4f6;
        text-align: left;
        font-size: 12px;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
      }
      
      .item-standing-note-p {
        display: -webkit-box;
        height: 70px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.customer-bottom-sidebar {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  margin-left: -30px;
}

.space-height {
  height: 40px;
}

.select-supplier {
  margin-top: 30px;
}

.customer-open-new-page {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-item-suggest-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.53);
  z-index: 9;
  display: none;
}

.input-search-user:focus .list-item-suggest-container {
  display: block;
}
